server {
    listen      80;
    server_name ~^(?P<subdomain>.+)\.cga\.terranodo\.io$;

    charset     utf-8;

    access_log /var/log/nginx/$subdomain.access.log;
    error_log /var/log/nginx/$subdomain.error.log info;

    client_max_body_size 200M;

    location / {
        root /var/www/$subdomain;
        try_files $uri $uri/ @wsgiapp;
    }

    location @wsgiapp {
        uwsgi_pass  unix:///tmp/$subdomain.sock;
        include     /etc/nginx/uwsgi_params;
    }
}
