[program:{{app_name}}]
environment={% for k, v in django_env_vars.iteritems() %}{% if not loop.first %},{% endif %}{{ k }}="{{ v }}"{% endfor %}

command=/usr/local/bin/uwsgi
  --socket /tmp/{{ app_name }}.sock
  --logto /var/log/uwsgi/{{ app_name }}.log
  --venv {{ virtualenv_dir }}
  --callable {{django_settings_dir_name}}.wsgi:application
  --max-requests 1000
  --master
  --processes 1
  --threads=25
  --chmod
user={{deploy_user}}
autostart=true
autorestart=true
redirect_stderr=True
