<?xml version="1.0" encoding="UTF-8"?>
<userRegistry xmlns="http://www.geoserver.org/security/users" version="1.0">
  <users>
    <user enabled="true" name="admin" password="plain:{{ gs_admin_password }}"/>
  </users>
  <groups/>
</userRegistry>
